@model ArticleViewModel

<h4 class="text-center p-2">查看文章</h4>

<form asp-action="@Model.Action" method="post">
    <div class="form-group">
        <label asp-for="Article.ArticleId" hidden></label>
        <input class="form-control" asp-for="Article.ArticleId" readonly hidden />
    </div>
    <div class="form-group">
        <label asp-for="Article.Title">文章标题</label>
        <input class="form-control" asp-for="Article.Title" readonly="@Model.ReadOnly" />
    </div>
    <div class="form-group">
        <label asp-for="Article.Category">文章分类</label>
        <input class="form-control" asp-for="Article.Category" readonly="@Model.ReadOnly" />
    </div>
    <div class="form-group">
        <label asp-for="Article.AuthorId">作者</label>
        <select class="form-control" asp-for="Article.AuthorId" disabled="@Model.ReadOnly"
                asp-items="@(new SelectList(Model.Authors,"AuthorId","AuthorName"))">
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Article.Text">正文</label>
        <textarea class="form-control" asp-for="Article.Text" readonly="@Model.ReadOnly"></textarea>
    </div>
    @if (Model.ShowAction)
    {
        <button class="btn" type="submit">提交</button>
    }
    else
    {
        <a asp-action="Edit" asp-route-id="@Model.Article.ArticleId" class="btn btn-sm btn-info">修改</a>
    }
    @if (Model.Action != "Create")
    {
        <a asp-action="Delete" asp-route-id="@Model.Article.ArticleId" class="btn btn-sm btn-info">删除</a>
    }
    <a class="btn btn-secondary" asp-action="Index">返回主页</a>
</form>