@model IEnumerable<Author>

<h4 class="p-2 text-center">作者列表</h4>
<table class="table table-sm table-bordered table-striped">
    <thead>
        <tr>
            <th class="text-center">作者姓名</th>
            <th class="text-center">作者简介</th>
            <th class="text-center">操作</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Author auth in Model)
        {
        <tr>
            <td>@auth.AuthorName</td>
            <td>@auth.Introduction</td>
            <td class="text-center">
                <a asp-action="AuthorDetail" asp-route-id="@auth.AuthorId" class="btn btn-sm btn-info">查看</a>
                <a asp-action="AuthorEdit" asp-route-id="@auth.AuthorId" class="btn btn-sm btn-warning">编辑</a>
                <a asp-action="AuthorDelete" asp-route-id="@auth.AuthorId" class="btn btn-sm btn-danger">删除</a>
            </td>
            <td>@(auth.IsHost?"主页":"")</td>
        </tr>
        }
    </tbody>
</table>
<a asp-action="AuthorCreate" class="btn btn-primary">添加作者</a>
